@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

#navb{
    background: #07926A;
    background: -webkit-linear-gradient(right, #07926A, #A81547);
    background: -moz-linear-gradient(right, #07926A, #A81547);
    background: linear-gradient(to left, #07926A, #A81547);
    border: black;
    border-style: solid;
    border-radius: 3px;
    font-family: 'Rock Salt', cursive;
}

#hero{
    background-image: url("./imagemain/Moes.jpg");
    height: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#moe{
height: 500px;
width: 500px;
}

#moes
{
    font-family: 'Rock Salt', cursive;
    font-size: 22pt;
    font-weight: bold;
    color: black;
    background: -webkit-linear-gradient(right, #07926A, #A81547);
    background: -moz-linear-gradient(right, #07926A, #A81547);
    background: linear-gradient(to left, #07926A, #A81547);
    border-radius: 3px;
    opacity: 80%;
}

#ask{
    font-family: 'Rock Salt', cursive;
    color:black;
    font-size: 18pt;
    font-weight: bold;
    background: -webkit-linear-gradient(right, #07926A, #A81547);
    background: -moz-linear-gradient(right, #07926A, #A81547);
    background: linear-gradient(to left, #07926A, #A81547);
    border-radius: 2px;
    opacity: 80%;
 
}

#ball{
    width: 100%;
  height: auto;
}

#resolve {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
