#navb{
    background: #07926A;
    background: -webkit-linear-gradient(right, #07926A, #A81547);
    background: -moz-linear-gradient(right, #07926A, #A81547);
    background: linear-gradient(to left, #07926A, #A81547);
    border: black;
    border-style: solid;
    border-radius: 3px;
}

#hero{
    background-image: url("/imagemain/images1/Moes.jpg");
    height: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#moe{
height: 500px;
width: 500px;
}